

.logobutton {
  font-size: 1.5rem;
  margin: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: default;
}

*::-webkit-scrollbar{
  display: none;
}


.wrapper {
  /* position: relative; */
  z-index: 3;
}



.bgimg {
  background-image: url('./images/grain5.gif');
  background-size: fill;
  position: absolute;
  z-index: 1;
  opacity: 70%;
  width: 100%;
  height: 500vh;
  background-repeat: repeat(10);
}

.footerwrapper {
position: absolute;
bottom: 0;
margin: 0 auto;
width: 100%;
height: auto;
}


