.container {
    color: white;
    top: 0;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 200vh;
    z-index: 999;
    /* background-image: url('./images/grain5.gif');
    background-size: cover;
    background-repeat: repeat; */
    filter: url("./images/grain5.gif");
}

.hdr {
    top: 20vh;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    font-size: 2.8rem;
    font-weight: bolder;
    line-height: 3rem;
    font-family: "Kasse";
    z-index: 999;
}


.formwrapper {
   justify-content: center;
   width: 100%;
   margin: 0 auto;
    top: 27vh;
   position: absolute;
}

.footerwrapper {
    position: absolute;
    bottom: 0;
    background: transparent;
    z-index: 999;
    margin: 0 auto;
    width: 100%;
    }